.logo {
    width: 50px;
    height: auto;
    margin-right: 35px;
}

.carousel {
    width: 43%;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}

.card-section {
    margin-top: 25rem;
    height: 1000px;
}

.nav-item {
    font-weight: 500;
}

.nav-item,
.lgn {
    color: #508D4E;
}

footer {
    height: 400px;
}

footer,
.container {
    margin-top: 5rem;
}